<!DOCTYPE html>
<html ng-app="shabusApp">
<head lang="en">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Test</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/app.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/driver.css') }}" >

</head>
<body>
<div class="container">
    <img class="img-responsive" src="{{ url_for('static', filename='logo_header.svg') }}">
    <div id="interface" ng-controller="userController">
        <form ng-submit="validate()">
            <div class="form-group" ng-class="{ 'has-success' : approved, 'has-error' : (checked && !approved)}">
                <input class="form-control" type="text"   ng-focus="checked = false" ng-model="credentials" placeholder="Identification" />
                <span id="helpBlock" class="help-block"  ng-show="checked">
                    {% raw %}{{ text }} {% endraw %}
                </span>
            </div>
            <input class="btn btn-default"  type="submit" value="Submit"/>
        </form>

        <a class="btn btn-default" href="/logout">Logout</a>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>
</html>
